.boxes {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.03);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.03);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.03);
}

.boxes button {
  padding: 10px;
  text-transform: uppercase;
  border-width: 1px;
  border-color: rgb(241, 244, 244);
  text-align: center;
  background-color: white;
  width: 100%;
}

.selected-box {
  background-image: linear-gradient(to right, rgb(82, 62, 255) 25%, rgb(69, 87, 254) 25%, rgb(69, 87, 254) 50%, rgb(42, 129, 251) 50%, rgb(42, 129, 251) 75%, rgb(52, 193, 218) 75%);
  background-size: 100% 6px;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  width: 100%;
  color: black;
}

.unselected-box {
  color: lightgray;
}
