#btn-landing {
  margin: 0px 10px;
}

.full-screen {
  z-index: 1;
  position: absolute;
  top: 0px;
  height: 100%;
  background-image: url(../../assets/images/background-dummy.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#homepage-header{
  margin-top: 150px;
}
#homepage-subtitle{
  margin-top: 15px;
}
#homepage-buttons{
  text-align: center;
  margin-top: 150px;
  width: 100%;
  padding: 0 50px;
}

#btn-left {
  width: 49%;
}

#btn-homepage{
  margin-top: 20px;
}
