.card-container{
  margin-top: 20px;
  height: 200px;
  width: 100%;
  border: red solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  position: absolute;
  height: 200px;
  width: 90%;
  margin: 0px auto;
  border-radius: 20px;
  filter: brightness(80%);
}

.card-image:hover {
  filter: brightness(100%);
}

.card-disaster-info {
  border: 1px solid blue;
  width: 250px;
  height: 100px;
  z-index: 100;
  position: relative;
  left: -10px;
  top: 50px;
  color: white;
}

.card-disaster-level {
  text-transform: uppercase;
  border: solid 1px red;
  width: 100px;
  text-align: center;
  border-radius: 20px;
}

.level-severe{

  background-color: #FF4F9A;
}

.level-moderate{
  background-color: #FF4F9A;
}

.dot-yes {
  display: inline-block;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block
}

.dot-no {
  background-color: green;
}
