.center-text {
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 85%;
}

/* COLOURS */
.green {
  color: #58DE6D;
}

.grey {
  color: #AEB2B7
}

/* SIZES TEXT */
h1, .big{
  font-size: 24px;
}

h2, .medium {
  font-size: 16px;
}


h3, .small {
  font-size: 14px;
}

/* BUTTONS */
.btn-green {
  background-color: #58DE6D;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-radius: 5px;
  padding: 10px 35px;
  font-size: 12px;
}

.btn-white {
  background-color: white;
  font-weight: bold;
  color: #242424;
  text-transform: uppercase;
  font-size: 10px;
  border: solid 1px #AEB2B7;
  border-radius: 5px;
  padding: 10px 35px;
  font-size: 12px;
}

/* INPUT */
input {
  border: 1px #E6EAF0 solid;
  border-radius: 10px;
  width: 100%;
  padding: 10px 5px;
  background-color: white;
  outline: none;
  margin: 0px 0px 10px 0px;
}

input:focus {
  border: 1px solid #58DE6D;
}

/* WARNINGGG */
.warning{
  border: 1px solid red;
}

.warning-text{
  color:red;
  font-weight: bold;

}
