/* GENERAL */
a {
  cursor: pointer;
}

html, body {
  color: #2A2E43;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', sans-serif;
  background: rgb(247,247,250);
  background: linear-gradient(0deg, rgba(247,247,250,1) 0%, rgba(255,255,255,1) 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

textarea, select, input, button {
  outline: none;
}

/* FONT SIZES */
h1, .extra-big {
  font-size: 40px;
}

h1, .big {
  font-size: 24px;
}

h2  {
  font-size: 20px;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 12px;
}

/* FONT COLOURS */
.black {
  color: #2A2E43;
}

.grey {
  color: #78849E;
}

.light-grey {
  color: rgb(220 220 220);
}

.white {
  color: white;
}

/* SCREEN POSITIONING */
#wrapper {
}

.container-100 {
}

.container-90 {
  height: 100%;
  margin: 0 auto;
  width: 90%;
}

.center-text {
  text-align: center;
}
.header-div {
  margin: 30px auto;
  width: 90%;
}

/* BUTTONS */
.btn {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 12px;
  padding: 12px 0px;
  width: 100%;
  margin: 0 auto;
}

.btn-blue {
  background-color: #3ACCE1;
  color: white;
}

.btn-add {
  background-color: #3ACCE1;
  color: white;
  font-size: 26px;
  padding: 7px 12px;
  border-radius: 12px;
  font-weight: lighter;
  -webkit-box-shadow: 0px 3px 29px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 3px 29px 5px rgba(0,0,0,0.4);
  box-shadow: 0px 3px 29px 5px rgba(0,0,0,0.4);
}

.btn-remove {
  background: url(../assets/icons/remove-button.png);
  background-size: 25px 25px;
  position: relative;
  top: 8px;
  height: 25px;
  width: 25px;
}

/* INPUT */
input {
  border: 1px solid transparent;
  border-radius: 13px;
  width: 100%;
  font-size: 15px;
  padding: 15px 20px;
  outline: none;
}

.input-container {
  margin: 0px 0px 20px 0px;
}

.input-box {
  border: 1px solid transparent;
  border-radius: 13px;
  width: 100%;
  font-size: 15px;
  padding: 15px 20px;
  outline: none;
}

input::placeholder {
  color: #AAABAD;
}

.input-light {
  -webkit-box-shadow: 0px 3px 29px 5px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 3px 29px 5px rgba(0,0,0,0.05);
  box-shadow: 0px 3px 29px 5px rgba(0,0,0,0.05);
}

.input-dark {
  background-color: #454F63;
  color: white;
}

input:focus {
  border: 1px solid rgb(58 204 225);
}

/* ERROR TEXT */
.red-text {
  margin-top: 5px;
  padding-left: 20px;
  color:red;
}

/* SWITCH */
.input-content {
  height: 25px;
}

.input-left {
  width: 49%;
  float:left;
  color: #AAABAD;
}

.input-right {
  width: 49%;
  overflow: hidden;
  padding-left: 80px;
}

.switch1 input {
  display:none;
}

.switch1 {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-round:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

input:checked + .slider-round {
  background-color: #3ACCE1;
}

input:focus + .slider-round {
  box-shadow: 0 0 1px #3ACCE1;
}

input:checked + .slider-round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider-round {
  border-radius: 34px;
}

.slider-round:before {
  border-radius: 50%;
}

/* DROPDOWN */
.dropdown select {
  -moz-appearance:none; /* Firefox */
   -webkit-appearance:none; /* Safari and Chrome */
   appearance:none;
   height: 100%;
   width: 100%;
   background-color: transparent;
   background-image: url(../assets/icons/select-triangle.png) !important;
   background-repeat: no-repeat;
   background-size: 5%;
   background-position: 90% center;
   font-size: 15px;
   border:none;
   color: #2A2E43;
}

.dropdown, .input-dark select {
  color: white;
}


select:invalid, select option[value=""] {
  font-size: 15px;
  color: #AAABAD;
}
/*Added for browser compatibility*/
[hidden] {
  display: none;
}

/* CARD */
.card {
  padding: 20px;
  background-color: white;
  margin: 15px 0px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 29px 5px rgba(0,0,0,0.03);
  -moz-box-shadow: 0px 3px 29px 5px rgba(0,0,0,0.03);
  box-shadow: 0px 3px 29px 5px rgba(0,0,0,0.03);
}

.card-dark {
  background-color: #2A2E43;
  color: white;
}

.card-line{
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color: #f1f1f1;
  height: 1px;
  margin: 5px 0px;
}
