/* GENERAL */
a {
  cursor: pointer;
}

html, body {
  color: #2A2E43;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', sans-serif;
  background: rgb(247,247,250);
  background: linear-gradient(0deg, rgba(247,247,250,1) 0%, rgba(255,255,255,1) 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

textarea, select, input, button {
  outline: none;
}

/* FONT SIZES */
h1, .extra-big {
  font-size: 40px;
}

h1, .big {
  font-size: 24px;
}

h2  {
  font-size: 20px;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 12px;
}

/* FONT COLOURS */
.black {
  color: #2A2E43;
}

.grey {
  color: #78849E;
}

.light-grey {
  color: rgb(220 220 220);
}

.white {
  color: white;
}

/* SCREEN POSITIONING */
#wrapper {
}

.container-100 {
}

.container-90 {
  height: 100%;
  margin: 0 auto;
  width: 90%;
}

.center-text {
  text-align: center;
}
.header-div {
  margin: 30px auto;
  width: 90%;
}

/* BUTTONS */
.btn {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 12px;
  padding: 12px 0px;
  width: 100%;
  margin: 0 auto;
}

.btn-blue {
  background-color: #3ACCE1;
  color: white;
}

/* INPUT */
input {
  border: 1px solid transparent;
  border-radius: 13px;
  width: 100%;
  font-size: 15px;
  padding: 15px 20px;
  outline: none;
  margin: 0px 0px 30px 0px;
}

input::placeholder {
  color: #AAABAD;
}

.input-light {
  -webkit-box-shadow: 0px 3px 29px 5px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 3px 29px 5px rgba(0,0,0,0.05);
  box-shadow: 0px 3px 29px 5px rgba(0,0,0,0.05);
}

.input-dark {
}

input:focus {
  border: 1px solid rgb(58 204 225);
}

/* SWITCH */
.switch1 {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch1 input {display:none;}

/* slider */
.box-slider {
  border: 1px solid transparent;
  border-radius: 13px;
  width: 100%;
  color: #AAABAD;
  padding: 10px 20px 5px 20px;
  outline: none;
  margin: 0px 0px 30px 0px;
}

.box-left-text {
  padding-top: 5px;
  float:left;
  display:inline;
  width: 49%
}

.box-right-text {
  float:left;
  display:inline;
  width: 49%
}

.slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-round:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

input:checked + .slider-round {
  background-color: #2196F3;
}

input:focus + .slider-round {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider-round {
  border-radius: 34px;
}

.slider-round:before {
  border-radius: 50%;
}



.warning{
  border: 1px solid red;
}

.warning-text{
  color:red;
  font-weight: bold;
}

/* CARD */
.card {
  padding: 20px;
  background-color: white;
  margin: 15px 0px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 29px 5px rgba(0,0,0,0.03);
  -moz-box-shadow: 0px 3px 29px 5px rgba(0,0,0,0.03);
  box-shadow: 0px 3px 29px 5px rgba(0,0,0,0.03);
}

.card-dark {
  background-color: #2A2E43;
  color: white;
}

.card-line{
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color: #f1f1f1;
  height: 1px;
  margin: 5px 0px;
}
