/* GENERAL */
a {
  cursor: pointer;
}

html, body {
  color: #2A2E43;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', sans-serif;
  background-attachment: fixed;
  background: rgb(247,247,250);
  background: linear-gradient(0deg, rgba(247,247,250,1) 0%, rgba(255,255,255,1) 100%);
  height: 100%;
  width: 100%;
}

textarea, select, input, button {
  outline: none;
}

/* FONT SIZES */
h1, .extra-big {
  font-size: 40px;
}

h1, .big {
  font-size: 24px;
}

h2  {
  font-size: 20px;
}

h3 {
  font-size: 14px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

/* FONT COLOURS */
.black {
  color: #2A2E43;
}

.grey {
  color: #78849E;
}

.light-grey {
  color: rgb(220 220 220);
}

.white {
  color: white;
}

/* SCREEN POSITIONING */
#wrapper {
}

.container-100 {
}

.container-90 {
  height: 100%;
  margin: 0 auto;
  width: 90%;
}

.center-text {
  text-align: center;
}

/* BUTTONS */
.btn {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 12px;
  padding: 12px 0px;
  width: 100%;
  margin: 0 auto;
}

.btn-blue {
  background-color: #3ACCE1;
  color: white;
}

/* INPUT */
input {
  border: 1px solid transparent;
  border-radius: 13px;
  width: 100%;
  font-size: 15px;
  padding: 15px 20px;
  outline: none;
  margin: 0px 0px 30px 0px;
}

input::placeholder {
  color: #AAABAD;
}

.input-light {
  -webkit-box-shadow: 0px 3px 29px 5px rgba(0,0,0,0.03);
  -moz-box-shadow: 0px 3px 29px 5px rgba(0,0,0,0.03);
  box-shadow: 0px 3px 29px 5px rgba(0,0,0,0.03);
}

.input-dark {
}

input:focus {
  border: 1px solid rgb(58 204 225);
}

.warning{
  border: 1px solid red;
}

.warning-text{
  color:red;
  font-weight: bold;
}
