.center-text {
  text-align: center;
}

.container {
  margin: 0 auto;
  border: 1px black solid;
  width: 85%;
}

/* COLOURS */
.green {
  color: #58DE6D;
}

.grey {
  color: #AEB2B7
}

/* SIZES TEXT */
h1, .big{
  font-size: 20px;
}

h2, .medium {
  font-size: 16px;
}


h3, .small {
  font-size: 14px;
}

/* BUTTONS */
.btn-green {
  background-color: #58DE6D;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-radius: 5px;
  padding: 10px 35px;
}

.btn-white {
  background-color: white;
  font-weight: bold;
  color: #242424;
  text-transform: uppercase;
  font-size: 10px;
  border: solid 1px #AEB2B7;
  border-radius: 5px;
  padding: 16px 32px;
  margin: 0 10px;
}

/* INPUT */
input {
  border: 1px #E6EAF0 solid;
  border-radius: 10px;
  width: 100%;
  padding: 10px 5px;
  background-color: white;
}


input:focus {
    border: 3px solid #58DE6D;
}



/* PLUGINS */
.react-swipe-container {
  margin: 20px auto;
  background-color: white;
  width: 85%;
  height: 400px;
}

.swipe {
  border: 1px black solid;
  width: 5px;
  height: 400px;
  background-color: pink;
}
