/* OverviewDisastersSelected */
.image-card-container{
  margin-top: 20px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-picture{
  position: absolute;
  height: 200px;
  width: 90%;
  margin: 0px auto;
  border-radius: 20px;
  filter: brightness(80%);
}

.image-picture:hover {
  filter: brightness(100%);
}

.image-info{
  width: 250px;
  height: 100px;
  position: relative;
  left: -10px;
  top: 50px;
  color: white;
}

.image-disaster-level-card {
  text-transform: uppercase;
  width: 100px;
  text-align: center;
  border-radius: 20px;
}

.severe{
  background-color: #FF4F9A;
}

.moderate{
  background-color: #FFB900;
}

/* OverviewDisasterTab */
#card-map {
  padding: 0px;
}
#card-map-title{
  padding: 20px 20px 10px 20px;
}

#map-filler{
  padding: 20px 20px 10px 20px;
}
.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  float:left;
}

.dot-yes {
  background-color: #9DFF00;
  margin-right: 10px;

}

.dot-no {
  background-color: #FF4F9A;
  margin-right: 10px;
}

.help-options{
  font-size: 8px;
  margin: 10px;
  margin-top: 30px;
  text-align: center;
}

.icon-box {
  display: inline-block;
  margin: 0px 8px;
  text-align: center;
}

.help-icon {
  height: 25px;
  width: 20px;
}

.help-text {
  font-size: 10px;
}
